@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: 600 !important;
}

h2 {
  font-size: 26px;
  font-weight: 600 !important;
}

h3 {
  font-size: 22px;
  font-weight: 600 !important;
}

.template-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-blur {
  filter: blur(1px);
}

.add-to-contact {
  background: #fff;
  padding: 10px;
  bottom: -9px;
  position: fixed;
  z-index: 999;
}